/* .childTable .el-table tbody tr:hover>td {
    background-color: #ffffff !important;
} */
* {
    touch-action: auto;
}

body {
    -webkit-overflow-scrolling: touch;
    background-color: #F0F3F5;
}
/* #app,.hello,.el-container {
    height: 100% !important;
} */
/* 页面背景色start*/
.soutableDiv{
    padding: 20px;
}
.aunif{
    background-color: #fff;
    border-radius: 4px;
}
.user_data,
.headeraudio,
.insuranceTop {
    background-color: #fff;
    padding-top: 20px;
    border-bottom:1px solid #e8eaec !important;
    box-sizing: border-box;
}
.user_data_btn,
.asiostable,
.insuranceBottom {
    margin: 20px;
    padding: 20px !important;
    /* padding-top: 20px;
    margin-top: 20px; */
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
}

.el-main {
    padding:  0;
    box-sizing: border-box;
}
.usertable{
    margin-top: 20px;
}
.InsuranceCompany,
.insuranceUser {
    margin-top: 20px;
}
/* 页面背景色end*/
.childTable .el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #212e3e !important;
}

.childTable .el-table__body tr:hover>td {
    background-color: #e1e7f0 !important;
}

.childTable .el-table__body tr.current-row>td {
    background-color: #e1e7f0 !important;
}

.is-dragging {
    pointer-events: none;
}

/* .childTable .el-table tbody tr:hover .hover-row {
background-color: #ffffff !important;
} */
.InsuranceCompany .el-input__inner,
.editList .el-input__inner,
.selectContent .el-input__inner {
    width: 300px !important;
    height: 34px !important;

}

.laywerEdit .el-input__inner,
.laywerEdit .editList .el-input__inner {
    width: 100% !important;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: 100% !important;
}

.el-range-editor.el-input__inner {
    padding: 0;
}

.el-table .el-table__cell.is-center {
    text-align: center;
}

.el-radio-button__inner {
    padding: 8px 20px;
}

.el-pagination {
    text-align: center;
}

.el-page-header__content {
    color: #409EFF;
    font-size: 16px;
}

.el-table__fixed-right {
    height: 100%;
}

.el-date-editor .el-range-separator {
    padding: 0;
    margin: 0 4px;
    width: 6%;
}

.el-table__empty-block {
    width: 100% !important;
}

.grayColor {
    font-size: 14px;
    color: #555555;
}

.grayColor div {
    width: 100% !important;
}

.el-input__icon {
    line-height: 34px !important;
}

.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center-modal .ivu-modal {
    top: 0;
}

.InsuranceCompany .insuranceTop,
.insuranceUser .insuranceTop {
    display: flex;
    align-items: flex-start;
    flex-direction: inherit;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid #BBBBBB;
    position: relative;
}

.InsuranceCompany .el-input__inner {
    padding: 0 10px;
    box-sizing: border-box;
}

.InsuranceCompany .selectContent {
    display: flex;
    align-items: center;
    width: 300px;
}

.InsuranceCompany .selectContent .el-select {
    width: 100%;
}

.InsuranceCompany .timeSelect .el-input__inner {
    width: inherit !important;
    padding: 0 30px;
}

.bottomTable {
    position: relative;
    min-height: 229px;
    padding-bottom: 20px;
}

.bottomTable button {
    padding: 8px 12px;
    font-size: 12px;
}

.pageDiv {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    position: fixed;
    z-index: 4;
    bottom: 0;
    /* text-align: center; */
    /* box-sizing: border-box; */
    left: 230px;
    right: 20px;
    background-color: #fff;
    text-align: center;
}

.el-pagination .el-select .el-input {
    width: inherit;
}

.pageDiv .el-input__inner {
    padding-right: 0;
    width: 100px !important;
    height: 28px !important;
}

.InsuranceCompany table,
.insuranceUser table {
    width: 100% !important;
}

.statistic .el-table__header {
    table-layout: inherit !important;
}

.InsuranceCompany .el-table__row td:last-child,
.InsuranceCompany .has-gutter tr th:last-child {
    width: 0 !important;
}

.InsuranceCompany .has-gutter .gutter {
    display: block !important;
}

.grayColor div {
    width: 100% !important;
}

.BoldColor {
    color: #409EFF;
}

.diabledColor {
    color: #F56C6C !important;
}

.InsuranceCompany .setTablePadding {
    /* padding-left: 20px !important; */
}

.InsuranceCompany .grayColor {
    font-size: 14px;
}

.demo-table-expand {
    font-size: 14px;
    /* margin-left: 150px; */
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.demo-table-expand span {
    display: block;
    align-items: center;
    justify-content: center;
    /* min-width: 90px;
      color: #99a9bf; */
}

.demo-table-expand .el-form-item__content .el-table .cell {
    padding: 0 !important;
    width: 100% !important;
}

.el-table th>.cell {
    padding-left: 14px;
}

.el-table .cell i {
    font-size: 16px;
}

.InsuranceCompany .el-checkbox {
    font-weight: 700;
    color: #2F2E2E;
}

.InsuranceCompany .el-table td,
.InsuranceCompany .el-table th {
    padding: 10px 0;
}

.childTable .el-table--border::after,
.childTable .el-table--group::after,
.childTable .el-table::before {
    background-color: #fff;
}

.childTable .el-table__fixed-right::before,
.childTable .el-table__fixed::before {
    background-color: #fff;
}

.childTable .el-table td,
.childTable .el-table th {
    border: none !important;
}

.InsuranceCompany .el-button--small,
.InsuranceCompany .el-button--small.is-round {
    padding: 0;
    width: 48px;
    height: 28px;
}

.InsuranceCompany .el-button--small span,
.InsuranceCompany .el-button--small.is-round span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InsuranceCompany .el-button--mini,
.InsuranceCompany .el-button--small {
    font-size: 12px;
}

.InsuranceCompany a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.companyEdit .el-select {
    width: 100%;
}

.zk-table {
    border: none;
}

.zk-table__cell-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.zk-table__cell-inner .icon-page,
.zk-table__cell-inner .icon-folder {
    display: none;
}

.zk-table__cell-inner button {
    padding: 8px 10px;
    font-size: 12px;
    margin-right: 10px;
}

.sendBulletin .ivu-icon {
    font-size: 14px !important;
}

.ivu-list-vertical .ivu-list-item-extra {
    display: flex;
    align-items: center;
}

.ivu-list-vertical .ivu-list-item-extra li {
    margin-left: 20px;
}

.ivu-list-bordered .ivu-list-item {
    border-bottom: 1px solid #e8eaec !important;
}

.ivu-list-vertical .ivu-list-item-meta {
    margin-bottom: 5px;
}

.ivu-list-vertical .ivu-list-item-meta-title {
    margin-bottom: 5px;
}

.ivu-modal-content {
    /* min-height: 540px; */
}

.demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
}

.imageList .el-image {
    width: 70px !important;
    height: 80px !important;
    border-radius: 4px;
}

.ivu-select-arrow {
    color: #C0C4CC;
    font-size: 14px;
}

.statisticsBottom .el-table {
    overflow-x: auto;
}

.statisticsBottom .el-table__header-wrapper,
.statisticsBottom .el-table__body-wrapper,
.statisticsBottom .el-table__footer-wrapper {
    overflow: visible;
}

.statisticsBottom .el-table::after {
    position: relative;
}

.statisticsBottom .el-table--scrollable-x .el-table__body-wrapper {
    overflow: visible;
}

@keyframes ani-demo-spin {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navmask {
    position: static;
}

.demo-spin-col {
    height: 100px;
    position: relative;
    border: 1px solid #eee;
}

.sideNav {
    position: static;
    z-index: inherit;
}

.aunif .el-row {
    display: block;
    flex-direction: column;
}

.recommonedBottom .el-textarea {
    width: 550px !important;
}

.recommonedBottom .el-input--medium {
    width: 200px !important;
}

.aunif .recommonedBottom .el-form .el-input__inner {
    width: 200px !important;
}

.flexphoneshow .el-tabs,
.flexphoneshow .carouselDiv,
.flexphoneshow .el-carousel {
    width: 570px !important;
}

.flexphoneshow .el-image {
    width: 400px !important;
}

.stepxy {
    width: 1200px !important;
    margin: 0 auto !important;
}

.user_data_btn .user_btnes .andfinance {
    margin-top: 0px !important;
    margin-left: 20px !important;
}

@media screen and (max-width: 1200px) {
    .user_data{
        padding: 20px !important;
    }
    .admin-login .login .gin-from {
        justify-content: center !important;
    }

    .sideNav {
        position: fixed;
        z-index: 99;
    }

    .navmask {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 98;
    }

    /* .el-aside {
        display: none;
    } */

    .menuSwitch {
        display: block !important;
        font-size: 24px;
        flex: 1;
    }

    .menuSwitch i {
        padding: 10px;
    }

    .user_data span,
    .user_data .radios_sapn,
    .user_data input,
    .user_data button,
    .user_data_btn .user_btnes button,
    .cell {
        font-size: 12px !important;
    }

    .usertable .paginat {
        left: 0 !important;
        right: 0 !important;
    }

    .el-range-editor .el-range-input {
        line-height: inherit !important;
    }

    .flexphoneshow {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1075px) {
    .aunif .el-row {
        display: flex;
        flex-direction: column;
    }

    .attachmentDiv {
        padding-left: 0 !important;
        padding-top: 50px;
    }
}

@media screen and (max-width: 960px) {
    .shendialog .el-dialog__body .headestpage .rows .instaheades .headeditList .headlistRight .inputpass {
        width: 200px !important;
    }
}

@media screen and (max-width: 790px) {
    .stepxy {
        width: 800px !important;
        margin: 0 !important;
    }

    .usersteps {
        /* min-width: 160px; */
    }

    .uesestepa .uesrone,
    .steps .steps_txt,
    .uesestepa .uesrone .usenumber {
        font-size: 12px
    }

    .steps .steps_border,
    .steps .steps_der {
        /* width: 60px; */
    }
}

@media screen and (max-width: 720px) {
    .stepxy {
        width: 800px !important;
        margin: 0 !important;
    }

    .logo {
        display: none !important;
    }

    .shendialog .el-dialog__body .headestpage .rows .instaheades .headeditList .headlistRight .inputpass {
        width: 200px !important;
    }

    .shendialog .el-dialog__body .headestpage .rows .instaheades .headeditList .headlistLeft {
        width: 60px !important;
    }

}

@media screen and (max-width: 680px) {
    .stepxy {
        width: 700px !important;
        margin: 0 !important;
    }

    .logo {
        display: none !important;
    }

    .flexphoneshow .el-tabs,
    .flexphoneshow .carouselDiv,
    .flexphoneshow .el-carousel,
    .flexphoneshow .el-image {
        width: 440px !important;
    }

    .shendialog .el-dialog {
        width: 45% !important;
    }

    .auditmartexts .el-button {
        font-size: 14px !;
    }
}

@media screen and (max-width: 625px) {
    .shendialog .el-dialog__body .headestpage .rows .instaheades .headeditList .headlistRight .inputpass {
        width: 160px !important;
    }

    .stepxy {
        width: 630px !important;
        margin: 0 !important;
    }

    .usersteps {
        /* min-width: 30px; */
    }

    .uesestepa .uesrone,
    .steps .steps_txt,
    .uesestepa .uesrone .usenumber {
        font-size: 12px
    }

    .steps .steps_border,
    .steps .steps_der {
        /* width: 30px; */
    }

    .steps_box {
        padding-right: 0;
    }

    .aunif .fromrevie .grid-content {
        font-size: 14px !important;
    }

    .aunif .admreviewerss .flexphone p {
        width: inherit;
        min-width: 120px !important;
        font-size: 14px !important;
    }

    .aunif .admreviewerss .flexphone .flexphonespan {
        width: 230px !important;
        font-size: 13px !important;
    }

    .aunif .admreviewerss .flexphone .el-radio__label {
        font-size: 14px !important;
    }

    .aunif .admreviewerss .martexts .tianbtn {
        margin-left: 120px !important;
    }

    .hisupervisorInput .el-input--medium .el-input__inner {
        font-size: 13px !important;
    }

    .hisupervisorInput .el-input--medium {
        font-size: 13px !important;
    }

    .hisupervisorInput .admreviewerss .martexts .tianbtn {
        margin-left: 160px !important;
    }

    .flextextarea .el-textarea {
        width: 270px !important;
    }
}

@media screen and (max-width: 550px) {
    .shendialog .el-dialog {
        width: 80% !important;
    }

    .stepxy {
        width: 480px !important;
        margin: 0 !important;
    }

    .el-date-range-picker {
        width: 400px !important;
    }

    .el-date-range-picker .el-picker-panel__body {
        min-width: inherit !important;
    }

    .el-date-range-picker__header div {
        font-size: 12px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    /* .user_data .el-input__inner {
            width: 190px !important;
        }
        .usertable .radios .el-select{
             width: 190px !important;
        } */
    .el-radio-button__inner {
        padding: 8px 12px !important;
    }

    .user_data span,
    .user_data .radios_sapn,
    .user_data input,
    .user_data button,
    .cell {
        font-size: 10px !important;
    }

    .usertable .radios {
        margin: 0 0 20px 0px !important;
    }

    .usertable .radios .radios_sapn {
        width: 75px !important;
    }

    .el-radio-button :last-child .el-radio-button__inner {
        border-left: 1px solid #DCDFE6;
    }

    .sideNav {
        width: 200px !important;
    }

    .aunif .admreviewerss .marwers .marwers_p {
        width: 70px !important;
    }

    .aunif .admreviewerss .marwers .listqishu .imgs .ad_imgs_txts {
        font-size: 12px;
        max-width: 180px !important;
    }

    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-8bbe4aa0]:link,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-8bbe4aa0]:visited,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-8bbe4aa0]:hover,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-8bbe4aa0]:active {
        font-size: 12px;
    }

    .aunif .admreviewerss .marwers .listqishu .imgs .btntext .shan {
        font-size: 12px;
    }

    .aunif .admreviewerss .el-form,
    .aunif .ttadminiewrss .el-form {
        width: 390px !important;
    }

    .aunif .admreviewerss .el-form .el-input__inner,
    .aunif .admreviewerss .el-form .el-textarea__inner {
        font-size: 13px !important;
    }

    .el-form .el-form-item .el-form-item__label {
        font-size: 14px !important;
    }

    .el-form .el-form-item .el-form-item__content {
        margin-left: 96px !important;
    }

    .admreviewerss .textinput .el-textarea {
        width: 370px !important;
    }

    .flexphoneshow .el-tabs,
    .flexphoneshow .carouselDiv,
    .flexphoneshow .el-carousel,
    .flexphoneshow .el-image {
        width: 340px !important;
    }

    .flexphoneshow .el-form {
        width: 330px !important;
    }

    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-a5f2ab40]:link,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-a5f2ab40]:visited,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-a5f2ab40]:hover,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-a5f2ab40]:active {
        font-size: 12px !important;
    }

    .hisupervisorInput .flexInput .el-input--medium {
        width: 300px !important;
    }

    .hisupervisorInput .admreviewerss .martexts .tianbtn {
        margin-left: 98px !important;
    }

    .aunif .admreviewerss .tyetext .textwen .ptextleis {
        max-width: 200px !important;
        font-size: 12px !important;
    }


}

@media screen and (max-width: 430px) {
    .user_data_btn .user_btnes .andfinance {
        margin-top: 20px !important;
        margin-left: 0 !important;
    }

    .aunif .admreviewerss .tyetext .textwen .ptextlei {
        max-width: 200px !important;
    }

    .aunif .admreviewerss .marwers .listqishu .imgs .ad_imgs_txt {
        max-width: 160px !important;
    }
}

@media screen and (max-width: 400px) {
    .stepxy {
        width: 400px !important;
        margin: 0 !important;
    }

    .el-date-range-picker {
        width: 375px !important;
    }

    .el-radio-button__inner {
        padding: 8px 8px !important;
    }

    .user_data .el-input__inner {
        width: 215px !important;
    }

    .usertable .radios .el-select {
        width: 215px !important;
    }

    .user_data .iniconstatur .el-input__inner {
        padding: 0 !important;
        width: 215px !important;
    }

    .usertable .radios .boxxinput .el-input__inner {
        width: 215px !important
    }

    .el-radio-button :last-child .el-radio-button__inner {
        border-left: 1px solid #DCDFE6;
    }

    .aunif .fromrevie .grid-content {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .flexphone p {
        width: inherit;
        min-width: 120px !important;
        font-size: 12px !important;
    }

    .aunif .admreviewerss .flexphone .flexphonespan {
        width: 220px !important;
        font-size: 13px !important;
    }

    .attachmentDiv span,
    .attachmentDiv p,
    .attachmentDiv a {
        font-size: 12px;
    }

    .aunif .admreviewerss .tyetext .textwen .btntext {
        width: 120px !important;
    }

    .aunif .admreviewerss .tyetext .textwen .btntext .shan {
        font-size: 12px;
    }

    .aunif .admreviewerss .tyetext .textwen .ptextlei,
    .aunif .admreviewerss .tyetext .textwen .ptextleis {
        max-width: 160px !important;
    }

    .aunif .admreviewerss .tyetext .textwen .ptextleis {
        max-width: 170px !important;
        font-size: 12px !important;
    }

    .policy .policy_btn .policy_bton {
        font-size: 12px !important;
        padding: 5px 8px !important;
    }

    .aunif .admreviewerss .marwers .marwers_p {
        width: 70px !important;
    }

    .flexphone .el-button {
        font-size: 12px !important;
        padding: 5px 8px !important;
    }

    .el-form .el-form-item .el-form-item__label {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .el-form,
    .aunif .ttadminiewrss .el-form {
        width: 320px !important;
    }

    .policy span {
        font-size: 12px;
    }

    .policy .upload_btn .elupload .elupload_bton {
        font-size: 12px !important;
        padding: 5px 8px !important;
    }

    .aunif .admreviewerss .marwers .marwers_p {
        font-size: 13px !important;
    }

    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-50148655]:link,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-50148655]:visited,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-50148655]:hover,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-50148655]:active {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .marwers .listqishu .imgs .ad_imgs_txt {
        font-size: 12px !important;
        max-width: 140px !important;
    }

    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-50148655]:link,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-50148655]:visited,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-50148655]:hover,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-50148655]:active {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .marwers .listqishu .imgs .ad_imgs_txts {
        max-width: 150px !important;
    }

    .admreviewerss .textinput .el-textarea {
        width: 300px !important;
    }

    .tabpane .el-radio__label {
        font-size: 12px !important;
    }

    .el-tabs__item,
    .nextBtn {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .el-row .shenhe .el-button {
        font-size: 12px !important;
        padding: 5px 8px !important;
    }

    .admreviewerss .textinput div {

        font-size: 12px !important;
    }

    .flexphoneshow .el-tabs,
    .flexphoneshow .carouselDiv,
    .flexphoneshow .el-carousel,
    .flexphoneshow .el-image {
        width: 300px !important;
    }

    .flexphoneshow .el-form {
        width: 280px !important;
    }

    .flexphoneshow .el-form .el-input__inner,
    .flexphoneshow .el-textarea__inner {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .marwers_a .marwers_b {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .marwers_a .listqishu .el-button--mini,
    .aunif .admreviewerss .marwers_a .listqishu .el-button--small {
        padding: 5px 8px !important;
    }

    .comfirmTitle {
        font-size: 12px !important;
    }

    .hisupervisorInput .flexInput .el-input--medium {
        width: 200px !important;
    }

    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-40fb328e]:link,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-40fb328e]:visited,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-40fb328e]:hover,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-40fb328e]:active {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .tyetext .textwen .btntext .shan {
        font-size: 12px !important;
    }

    .flextextarea .el-textarea {
        width: 215px !important;
    }

    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-40fb328e]:link,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-40fb328e]:visited,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-40fb328e]:hover,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-40fb328e]:active {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-40fb328e]:link,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-40fb328e]:visited,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-40fb328e]:hover,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-40fb328e]:active {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .tyetext .textwen .btntext .shan {
        font-size: 12px !important;
    }

    .el-notification {
        width: 230px !important;
    }

    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-6613e827]:link,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-6613e827]:visited,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-6613e827]:hover,
    .aunif .admreviewerss .tyetext .textwen .btntext a[data-v-6613e827]:active {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-6613e827]:link,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-6613e827]:visited,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-6613e827]:hover,
    .aunif .admreviewerss .marwers .listqishu .imgs .btntext a[data-v-6613e827]:active {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 340px) {
    .admin-login .login .gin-from .loging {
        width: 19.08rem !important;
    }

    .el-radio-button__inner {
        padding: 8px 3px !important;
    }

    .usertable .paginat .paginastyes .el-pagination__sizes .el-select .el-input .el-input__inner {
        width: 80px !important;
    }

    .el-pagination.is-background .btn-next,
    .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .el-pager li {
        margin: 0 2px !important;
    }

    .aunif .fromrevie .grid-content {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .flexphone p {
        width: inherit;
        min-width: 120px !important;
        font-size: 12px !important;
    }

    .aunif .admreviewerss .flexphone .flexphonespan {
        width: 170px !important;
        font-size: 13px !important;
    }

    .aunif .admreviewerss .tyetext .textwen .ptextlei,
    .aunif .admreviewerss .tyetext .textwen .ptextleis {
        max-width: 160px !important;
    }

    .aunif .admreviewerss .marwers .listqishu .imgs {
        width: 220px !important;
    }

    .aunif .admreviewerss .el-form,
    .aunif .ttadminiewrss .el-form {
        width: 320px !important;
    }

    .aunif .admreviewerss .tyetext .textwen .btntext {
        width: 90px !important;
    }

    .aunif .admreviewerss .flexphone .el-radio__label {
        font-size: 12px !important;
    }

    .aunif .admreviewerss .martexts .tianbtn {
        margin-left: 122px !important;
    }

    .aunif .admreviewerss .el-form,
    .aunif .ttadminiewrss .el-form {
        width: 292px !important;
    }



    .recommonedBottom .textinput .el-textarea {
        width: 230px !important;
    }

    .aunif .recommonedBottom .el-form .el-input__inner {
        width: 180px !important;
    }

    .recommonedBottom .el-input--medium {
        width: 180px !important;
    }

    .flexphoneshow .el-tabs,
    .flexphoneshow .carouselDiv,
    .flexphoneshow .el-carousel,
    .flexphoneshow .el-image {
        width: 250px !important;
    }

    .flexphoneshow .el-form {
        width: 240px !important;
    }

    .hisupervisorInput .flexInput .el-input--medium {
        width: 160px !important;
    }
}